<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.frame.bootmybatis.mapper.DeptMapper">


    <resultMap id="dept" type="com.gitee.frame.bootmybatis.entity.Dept">
        <id column="id" property="id"/>
        <result column="d_name" property="dName"/>
    </resultMap>


    <select id="findDeptByid" resultMap="dept">
        select
       * from tb_dept where id=#{id}
    </select>


    <select id="findAll" resultMap="dept">
        select * from tb_dept
    </select>
    
    <insert id="insert">
        insert into tb_dept(d_name) values (#{dName});
    </insert>
</mapper>