<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引入外部配置文件，使用${}匹配-->
    <properties resource="mybatis/db.properties"/>
    <!--开启驼峰命名-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--别名处理器  为java类起别名 别名不区分大小写-->
    <typeAliases>
        <typeAlias type="com.gitee.mybatis.induction.entity.Employee" alias="employee"/>
        <!--批量起别名 name指定包名 默认类名-->
        <package name="com.gitee.mybatis.induction.entity"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/EmployeeMapper.xml"/>
        <mapper resource="mapper/DeptMapper.xml"/>
    </mappers>
</configuration>
